.display-tool-tip-info{
    cursor: pointer;
}

.tooltip{
    pointer-events: none;
    overflow: hidden;
    max-height: 700px;
}

.tooltip-inner{
    white-space: pre-wrap;
}

.border-hr {
    border-bottom: 1px solid #eaeaea;
}

.cscb-nav-btn {
    padding: 5px 3px 15px 3px;
    border: 4px solid transparent;
    margin: 0 3px;
    color: #828282;
    text-decoration: none !important;
}

.cscb-nav-btn a {
    text-decoration: none !important;
}

.cscb-nav-btn.active {
    color: #1A73E8 !important;
    border-bottom: 4px solid #1A73E8;
}

.btn-filter {
    color: #fff;
    background-color: transparent;
    outline: 0;
    border: 0;
    max-height: 38px;
}

.btn-filter img {
    width: 20px;
    padding: 9px 0;
}

.btn-queue {
    color: #fff;
    background-color: #3b6ac6;
    border-color: #3b6ac6;
}

.btn-grab-queue {
    height: 80px;
    min-width: 500px;
    border-radius: 20px;
    font-size: 32px;
    box-shadow: #d3d0d0 0 5px 5px;
}

table.table-fixed-header {
    display: flex;
    flex-flow: column;
    width: 100%;
}

table.table-fixed-header thead {
    flex: 0 0 auto;
}

table.table-fixed-header tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

table.table-fixed-header tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.tooltip-inner{
    background-color: black !important;
    max-width: 500px !important;
    width: 100%;
    text-align: left;
}

#tool-tip-modal .modal-dialog{
    max-width: 1000px !important;
}